.header {
    max-width: 100%;
    background-color: rgba(32, 44, 51, 1);
}

.header__wrap {
    display: flex;
    flex-direction: row;
}

.header-user {
    width: 403px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.header-user__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 110px
}

.header__allContacts {
    color: rgb(233 237 239);
    border: 1px solid rgba(134, 150, 160, 0.15);
    border-radius: 15px;
    padding: 10px;
}

.header-newUser__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-newUser {
    width: 983px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid rgba(134, 150, 160, 0.15);

}

.header-newUser__avatar {
    width: 40px;
    height: 40px;
    padding-right: 15px;

}

.header-newUser__contact {
    color: rgb(233 237 239);
}

.header-user__message {
    width: 24px;
    height: 24px;
}

.header-newUser__login {
    color: rgb(233 237 239);
    border: 1px solid rgba(134, 150, 160, 0.15);
    border-radius: 15px;
    padding: 10px;
}

.header-user__container-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.header-user__container-input {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65px;
    left: 20px;
}

.header-user__container-input_activ {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65px;
    left: 20px;
}

.header-user__input {
    padding: 9px 12px;
    margin: 5px 8px;
    width: 320px;
    border: none;
    border-radius: 8px;
    background-color: rgb(42 57 66);
    outline: none;
    color: rgb(255, 255, 255);
}